body{
  background:#0b0b0f;
  color:white;
  font-family:Arial;
}
.container{
  max-width:600px;
  margin:auto;
  padding:20px;
}
.card{
  background:#15151c;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
}
input,button{
  width:100%;
  margin-top:10px;
  padding:10px;
  border-radius:8px;
  border:none;
}
button{
  background:#e50914;
  color:white;
  font-weight:bold;
}
pre{
  background:black;
  padding:10px;
  overflow:auto;
}
